<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="StringMail" connectionString="PC_Pros@gmx.de;22FFHh8qSheVJvk;mail.gmx.net;587"/>
		<add name ="StringDB" connectionString="Server=tcp:pc-pros-shop.database.windows.net,1433;Initial Catalog=pc-pros-shop-database;Persist Security Info=False;User ID=PCPros;Password=HJGVdzz2t23sd.edw;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>